# Variables de entorno para el proyecto
ELASTICSEARCH_URL=http://localhost:9200
PRODUCTOS_API_URL=https://tu-api-de-productos.com/api/v1/products
INDEX_NAME=productos
MODEL_NAME=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
SYNC_TIMEOUT=30
SEARCH_TIMEOUT=5